<!Doctype html>
<html>
	<head>
		<title>Search Movies</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	</head>
	<body style="background-image: url('https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8ZmlsbXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60'); background-size: cover; font-family: Georgia">